<div class="header-nav row">
    <div class="logo-div col-md-3">
      <a href="/"><img src="../../../assets/images/Evoke_logo.png" /></a>
    </div>
    <div class="col-md-9">
      <ul >
        <li class="active"><a href="/dashboard">Angular</a></li>
        <li><a href="#">React JS</a></li>
        <li><a href="#">Vue</a></li>
      </ul>
    </div>
    
</div>
<div class="sub-header">
    <ul>
      <li><a href="#">Home</a><span class="arrow-left"></span>Angular</li>
    </ul>
    <a href="../../assets/images/angular.pdf" download class="download-btn">Download PDF</a>
  </div>  

<div class="row mt-5 mb-5" id="main-board">
    <div class="col-md-3 landing-sidenav" (click)="navigatoinChange('dashboard')">
        <app-header [data]="data" (loadNavDataEvent)="loadNavData($event)"></app-header>
    </div>
   <div class="col-md-9 description-area">
    <h2>{{topic}}</h2>
    <p>{{descpt}}</p>
    <div class="text-center image-section">
      <img src="../../assets/images/angular-image.png" alt="Angular" />
    </div>
   </div>
  
</div>
<app-footer></app-footer>