<div class="header-nav row">
  <div class="logo-div col-md-3">
    <a href="/"><img src="../../../assets/images/Evoke_logo.png" /></a>
  </div>
  <div class="col-md-9">
    <ul >
      <li class="active"><a href="#">Angular</a></li>
      <li><a href="#">React JS</a></li>
      <li><a href="#">Vue</a></li>
    </ul>
  </div>
  
</div>
<div class="sub-header">
  <ul>
    <li><a href="#">Home</a><span class="arrow-left"></span>Angular<span class="arrow-left"></span>{{title}}</li>
  </ul>
  <a href="../../assets/images/angular.pdf" download class="download-btn">Download PDF</a>
</div>
<div class="row mt-5 mb-5" id="main-board">
  <div class="col-md-3">
    <app-header [data]="data" (loadNavDataEvent)="loadNavData($event)"></app-header>
  </div>
  <!-- <div class="col-md-4 description-area">
    <h2>{{title}}</h2>
    <p>{{description}}</p>

    <ul *ngFor="let _subnav of subData?.subDataTitles">
      <li>{{_subnav.title}}</li>
    </ul>
   
  </div>
  <div class="col-md-5" id="codeHub">

    <pre class="prettyprint linenums lang-ts" id="code"></pre>

  </div> -->
 <div class="col-md-9 description-area">
  <h2>{{title}}</h2>
  <div id="dropdown-tab">	
        
    <div class="tab-wrap" id="data-sec">
      <input type="radio" id="tab1" name="tabGroup1" class="tab" value="consolidate" checked>
      <label for="tab1">Description</label>
      
      <input type="radio" id="tab3" name="tabGroup1" class="tab" value="reference">
      <label for="tab3">Reference</label>
      <input type="radio" id="tab2" name="tabGroup1" class="tab" value="account">
      <label for="tab2">Code</label>
      <div class="tab__content">
        <p>{{description}}</p>
        <ul *ngFor="let _subnav of subData?.subDataTitles">
          <li>{{_subnav.title}}</li>
        </ul>
      </div>
      <div class="tab__content">
        <div *ngFor="let data of exampleCodeLink|splitComma">
          <a href="{{data}}" target="_blank">{{data}}</a>
        </div>
        <!-- <a href="{{exampleCodeLink.split(',')[1]}}" target="_blank">{{exampleCodeLink.split(',')[1]}}</a>
        <a href="{{exampleCodeLink.split(',')[2]}}" target="_blank">{{exampleCodeLink.split(',')[2]}}</a>
        <a href="{{exampleCodeLink.split(',')[3]}}" target="_blank">{{exampleCodeLink.split(',')[3]}}</a> -->
      </div>
      <div class="tab__content"  *ngIf=" id == 1 ">
        <!-- <pre class="prettyprint linenums lang-ts" id="code"></pre> -->
        <!-- {{codeSnippet}} -->
        
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'" >
              {{codeSnippet}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 2 ">
        
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contentHtml1}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content1}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 3 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml2}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content2}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 4 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml3}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content3}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Lazy Load' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml4}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content4}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 5 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml5}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content5}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 6 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml6}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content6}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 7 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml7}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content7}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 9 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content8}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 10 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content9}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 11 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content10}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 12 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml11}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content11}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 18 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml26}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content26}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 19 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml6}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content6}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 29 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml25}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content25}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 30 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml4}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content4}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 31 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content14}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 32 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            /* No HTML for this example */
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content15}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 35 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml16}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content16}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 38 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml17}}
            </ngx-prism>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content17}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" id == 39 ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content18}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Efffects' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content18}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Reducer' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content24}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'indexjs' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content20}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Index.ts – effects ' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content21}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Actions ' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content22}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
      <div class="tab__content"  *ngIf=" title == 'Use services to create  ' ">
        <div class="tabs">
          <input type="radio" name="tabs" id="tabone" checked="checked">
          <label for="tabone">HTML</label>
          <div class="tab_inner">
            <ngx-prism [language]="'html'">
              {{contenthtml18}}
            </ngx-prism>
            <a href="https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/ngrx-effects-example-ksqfjn?file=src%2Fapp%2Fapp.component.ts</a>
          </div>
          
          <input type="radio" name="tabs" id="tabtwo">
          <label for="tabtwo">TypeScript</label>
          <div class="tab_inner">
            <ngx-prism [language]="'javascript'" >
              {{content23}}
            </ngx-prism>
          </div>
          
        </div>
      </div>
  </div>
</div>
 </div>

</div>
<app-footer></app-footer>