/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';
@import '~prismjs/themes/prism.css';
body{
  overflow:hidden
}
*{
  font-family: 'Lato', sans-serif;
}
.row{
  margin: auto;
}
.landing-sidenav{
  ul{
    li.active{
      span{
        color: #373741 !important;
      }
    }
  }
}
